<a href="https://colab.research.google.com/github/localtic/bigdata/blob/main/%5Bpandas_04%5D_Accessor_%EC%97%B0%EC%8A%B5_LAB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1.Accessor - str
- str.strip('제거할 문자들') : 문자열의 앞/뒤에 불필요한 것을 제거함
   - 제거할 문자들을 지정하지 않을 경우 whitespace를 제거함
- str.split('구분자')
   - 구분자를 지정하지 않을 경우 whitespace를 기준으로 분리함
   - 각 구분된 내용은 str[0], str[1], .. 등으로 접근
- str.join('구분자')
   - 구분자 지정을 생략할 수 없음
   - 분리된 문자열에 구분자를 사이에 넣어 하나의 문자열로 만듦
- str.replace(전, 후)
   - 문자열의 일부 내용을 변경 가능함
   - 변경 전 내용을 찾아 변경 후 내용으로 바꿈

In [1]:
import pandas as pd

In [2]:
data = {'A': ['    김   수민 ', '  이  나라     ', '  황   소  라  '],
        'B': ['  d2021-10-29.   ', '   \n\t\r2021-10-30c    \n', '2021-11-01c   '],
        'C': ['*7', '6', '*7']}
temp = pd.DataFrame(data)
print(temp)

              A                           B   C
0       김   수민              d2021-10-29.     *7
1    이  나라          \n\t\r2021-10-30c    \n   6
2    황   소  라                2021-11-01c     *7

In [4]:
# [1] 'A' 컬럼의 데이터를 빈칸 없는 이름으로 만들어 temp의 'A'컬럼 뒤에 'A-01'컬럼으로 추가해 보세요.
temp.insert(1, 'A-01', temp['A'].str.split().str.join(''))

ValueError: ignored

In [5]:
print(temp)

              A A-01                           B   C
0       김   수민   김수민             d2021-10-29.     *7
1    이  나라       이나라     \n\t\r2021-10-30c    \n   6
2    황   소  라    황소라              2021-11-01c     *7

In [9]:
# [2] 'B' 컬럼의 데이티를 2021-10-29 처럼 앞/뒤에 공백이나 다른 문자('.dc')가 없도록 만들어 
# temp에 'B-01' 컬럼으로 추가해 보세요.
temp['B-01']= temp['B'].str.strip().str.strip('d.c')

In [10]:
print(temp)

              A A-01                           B   C        B-01
0       김   수민   김수민             d2021-10-29.     *7  2021-10-29
1    이  나라       이나라     \n\t\r2021-10-30c    \n   6  2021-10-30
2    황   소  라    황소라              2021-11-01c     *7  2021-11-01

In [13]:
# [3] 'B-01' 컬럼의 데이터에서 '-'를 '/'로 수정해 temp에 'B-02' 컬럼으로 추가해 보세요.
# temp['B-01'].replace('-', '/', regex=True) # 시리즈는 regex 넣어야 함
# temp['B-01'].str.split('-').str.join('/')
temp['B-02'] = temp['B-01'].str.replace('-', '/')

In [14]:
# [4] 'C' 컬럼에서 *을 제거하고 숫자로 변경해 'C-01'컬럼으로 추가해 보세요.
temp['C-01'] = temp['C'].str.replace('*', '').astype('int')
print(temp)

              A A-01                           B   C        B-01  C-01  \
0       김   수민   김수민             d2021-10-29.     *7  2021-10-29     7
1    이  나라       이나라     \n\t\r2021-10-30c    \n   6  2021-10-30     6
2    황   소  라    황소라              2021-11-01c     *7  2021-11-01     7

         B-02
0  2021/10/29
1  2021/10/30
2  2021/11/01

<ipython-input-14-fcebd4812ca3>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  temp['C-01'] = temp['C'].str.replace('*', '').astype('int')